body {
    padding: 2% 10% 2% 10%;
    background: #111111;
}

.rightarrow{
    height: 18px;
    width: 18px;
    display: inline-block;
}
.rightarrow svg{
    stroke: #00c2bd;
    fill: #00c2bd;
}

#agentid { /* only for page of agent details */
    font-size: 2em;
}

.agentid,.item,.item-line { /* any agent id */
    font-family: Coda, sans-serif;
}

.faction-res .agentid {
    color: #3679b9;
}
.faction-enl .agentid {
    color: #428f43;
}

#coordinate,#coordinate a {
    color: #FFFF77;
    font-weight: bold;
}

hr {
    border-color: #00FFFF;
    border-style: solid;
    border-width: 1px 0 0 0;
}

div.item{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div.item,div.item-list,#introduction{
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.item {
    background-image: linear-gradient(to right, #463c14 , #000000);
    color: #ffd752;
    border-color: #CCCC00;
    border-width: 1px 0 1px 0;
    border-style: solid;
}

div.item-list .item-line,a,a:hover {
    color: #00c2bd;
}

#introduction{
    color: #00c2bd;
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
}
