#map{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 3.5rem;
    bottom: 0;
}

.leaflet-tooltip{
    border: none !important;
    box-shadow: none !important;
    color: #FFFFFF !important;
    background: none !important;
}

.leaflet-marker-icon {
    transition: all 1s;
}
