body{
    padding-top: 5.5rem;
}

nav {
    box-shadow: 0 1px 8px rgb(0,0,0,0.5);
}

.rightarrow{
    height: 18px;
    width: 18px;
    display: inline-block;
}

nav.bg-dark{
    background-color: #79419d !important;
}

.navbar-brand,.nav-link{
    color: #FFFFFF !important;
}

.footbar {
    width: 100%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
    font-size: 0.9rem;
    color: #808080;
}

.post-title{
    color: #202020 !important;
}
