---
layout: default 
---


<div class="d-flex flex-row flex-wrap">
{% for post in site.posts %}


{% assign agent_faction = undefined %}
{% if site.data.authors[post.author] %} 
    {% for agent in site.agents %}
        {% if agent.agent_id == site.data.authors[post.author] %}
            {% assign agent_faction = agent.faction %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">
                    <a
                        {% if agent_faction %}class="faction-{{ agent_faction }}"{% endif %}
                        href="{{ post.url }}"
                        target="_blank"
                    >{{ post.title }}</a>
                </h5>
                <h6 class="card-subtitle text-muted">
                    {% if agent_faction %}
                        <a 
                            class="agentid faction-{{ agent_faction }}"
                            href="/agents/{{ site.data.authors[post.author] | downcase }}/" target="_blank">
                        {{ post.author }}
                        </a>
                    {% else %}
                        {{ post.author }}
                    {% endif %}
                    <div class="rightarrow">
                        <svg viewBox="0 0 48 48" height="100%" width="100%"><path d="M20 14l10 10-10 10z"></path></svg>
                    </div>
                    {{ post.publisher }}
                    <span style="float:right">{{ post.date | date: "%Y年%m月%d日" }}</span>
                </h6>
            </li>
            {% if post.cover %}
            <li><img src="/data/coverimages/{{ post.cover }}" class="card-img-top" alt="{{ post.title }}"></li>
            {% endif %}
            <li class="list-group-item">{{ post.content | strip_html | truncate: 500 }}</li>
        </ul>

    </div>
</div>

{% endfor %}
</div>
