<div class="container footbar">
菜格瑞斯，由旅居欧洲的中文 Ingress 玩家组建，是一个跨阵营的交友社群。<br />
本站由玩家自行建设，与 Niantic 和 Google 没有关联。

<br /><br />

Chinese Speaking Agents in Europe(CSAE) formed this friendly and cross-faction
Ingress community.
<br />
This site is maintained by players and does not affiliate with Niantic or Google.


<div>
    Visitor count:
    <!-- Default Statcounter code for CSAEGRESS https://csaegress.agency -->
    <script type="text/javascript">
    var sc_project=12152032; 
    var sc_invisible=0; 
    var sc_security="60956c97"; 
    var sc_https=1; 
    var sc_remove_link=1; 
    var scJsHost = "https://";
    var sc_text=5;
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"></div></noscript>
    <!-- End of Statcounter Code -->
    
</div>

</div>
