<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" href="/">菜格瑞斯</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-button" aria-controls="navbar-button" aria-expanded="false" aria-label="菜单">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-button">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agents/">我们大家</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar/">活动日历</a>
            </li>
        </ul>


        <ul class="navbar-nav flex-row ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/contact/">联系我们</a>
            </li>
        </li>
    </div>
</nav>
