<html>

<head>
    {% capture agentpage_title %}特工 {{ page.agent_id }}{% endcapture %}
    {% include header.html title=agentpage_title %}
    <link rel="stylesheet" href="/css/agent.css" >
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">

    <script src="/scripts/agentprofile.js"></script>
</head>

<body class="faction-{{ page.faction }}">

<div id="agentid" class="agentid" data-agentid="{{ page.agent_id}}">
{{ page.agent_id }}
</div>

<div id="coordinate" data-coordinate="{{ page.coordinate }}">
坐标: <span>未知</span>
</div>
<hr />


<div id="introduction">
{% if content %}{{ content }}{% else %}这个家伙很懒，什么都没有写{% endif %}
</div>


<div class="item">TA的文章</div>

<div class="item-list" style="display:table; width:100%">
{% for post in site.posts %}
{% assign is_author = false %}

{% for author in post.author %}
    {% if site.data.authors[author] == page.agent_id %}
        {% assign is_author = true %}
    {% endif %}
{% endfor %}

{% if is_author %}
    <div class="item-line">

        <div class="rightarrow">
            <svg viewBox="18 0 30 48" height="100%" width="100%"><path d="M20 14l10 10-10 10z"></path></svg>
        </div>

        <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>

    </div>

{% endif %}
{% endfor %}
</div>


</body>
</html>
