<html>

<head>
    {% capture agentpage_title %}特工 {{ page.agent_id }}{% endcapture %}
    {% include header.html title=agentpage_title %}
    <link rel="stylesheet" href="/css/agent.css" >
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">

    <script src="/scripts/agentprofile.js"></script>
</head>

<body class="faction-{{ page.faction }}">

<div id="agentid" class="agentid">{{ page.agent_id }}</div>
<div id="coordinate" data-coordinate="{{ page.coordinate }}">
坐标: <span>未知</span>
</div>
<hr />



{{ content }}

<div class="item">TA的文章</div>

<div class="item-list" style="display:table; width:100%">
{% for post in site.posts %}
{% assign is_author = false %}

{% for author in post.author %}
    {% if site.data.authors[author] == page.agent_id %}
        {% assign is_author = true %}
    {% endif %}
{% endfor %}

{% if is_author %}
    <div class="item-line" style="display: table-row; width:100%">

        <div class="rightarrow" style="display: table-cell">
            <svg viewBox="18 0 30 48" height="100%" width="100%"><path d="M20 14l10 10-10 10z"></path></svg>
        </div>

        <div style="display: table-cell">
        <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
        </div>

        <div style="display: table-cell; text-align:right; color: #ffd752">{{ post.publish_time | date:'%Y.%m.%d' }}</div>
    </div>

{% endif %}
{% endfor %}
</div>


</body>
</html>
